.profile-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100%;
}

.close-btn-visible {
  position: absolute;
  top: 15px;
  right: 20px;
  background: transparent;
  color: #333;
  font-size: 24px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.profile-card {
  width: 340px;
  /* min-height: 460px; Taller card */
  background: white;
  border-radius: 20px;
  padding: 18px 18px; /* More padding around content */
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
}

.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e0e0e0;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #2c3e50;
}

.branch {
  font-size: 14px;
  color: #7f8c8d;
  margin-bottom: 22px;
}

.about-section {
  text-align: left;
  margin-bottom: 20px;
}

.about-section h3 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.about-section p {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}

