body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.admin-page {
  max-width: 700px;
  /* margin: 40px auto; */
  padding: 30px;
  border-radius: 16px;
  background: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  overflow: visible; 
  
}

.admin-page h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.admin-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.admin-page input[type="text"],
.admin-page input[type="datetime-local"],
.admin-page textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.admin-page textarea {
  resize: vertical;         
  overflow-y: auto;         
  min-height: 80px;
  max-height: 300px;
}
.admin-page input[type="file"] {
  padding: 8px;
}

.admin-page img {
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.admin-page select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  color: #333;
}

.admin-page button {
  padding: 10px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.admin-page button:hover {
  background-color: #3e9141;
}

.admin-page hr {
  margin: 40px 0;
  border: none;
  border-top: 1px solid #ddd;
}
